---
title: "Plugin Authoring: Publishing"
---

.container
  .page-header
    %h1 Plugin Authoring

  .row
    .col-md-3= partial "plugin-authoring/menu"
    .col-md-9
      .page-header.first-heading
        %h2 Publishing

      %p When you're finished writing your plugin, you should publish it. This allows other Lita users to take advantage of your work and will cause it to appear in the catalog on the <a href="https://www.lita.io/plugins">plugins</a> page.

      %p If you used one of Lita's generator commands to create the files for your plugin initially, then most of the work is done for you. Here's a checklist of things to go over before publication:

      %ul
        %li Fill in all the sections of the README file that are marked as TODO.
        %li Make sure the gemspec file has all fields filled in, including the description, summary, and homepage. Double check that your contact information is correct in the authors and email fields.
        %li
          %p To have your plugin's type (adapter or handler) included in its information on the <a href="https://www.lita.io/plugins">plugins</a> page, make sure the metadata field in the gemspec is set correctly. It should look like this:

          %pre
            %code.ruby spec.metadata = { "lita_plugin_type" => "handler" }

          %p Substitute "adapter" as the value for adapter plugins and "extension" as the value for extension plugins.

      %p Once you've gone through the checklist, you just need to build a gem and push it to RubyGems. Conveniently, Bundler will handle this for you with one simple shell command:

      %pre
        %code rake release

      %p Note that this will require you to log into an account on <a href="https://rubygems.org/">RubyGems</a> if you're not already authenticated.
