---
title: Lita 3.0
---

.container
  .page-header
    %h1 Lita 3.0

  .row
    .col-md-3= partial "releases/menu"
    .col-md-9
      .page-header.first-heading
        %h2 Release announcement

      %p Lita 3.0 was released on February 26, 2014. It contains several new features and improvements for both users and plugin developers.

      %h3 Changes for users

      %ul
        %li The built-in web server is now powered by <a href="http://www.puma.io/">Puma</a>. This should exhibit improved performance with a smaller memory footprint, especially on JRuby. (Rubinius currently does not support Ruby 2.0 syntax, so Lita will not run on it yet.)
        %li Lita is now internationalized. The language used for both CLI and runtime messages can be changed via environment variable or configuration attribute. Pull requests adding translations for new languages are most welcome!
        %li New <code>join</code> and <code>part</code> commands allow administrators to manage channel presence at runtime.
        %li A new <code>info</code> command tells you what version of Lita is running.
        %li The <code>auth</code> commands now accept a user name or mention name in addition to ID.

      %h3 Changes for plugin authors

      .alert.alert-warning
        %strong Note:
        Older plugins may be locked to a 2.x version of Lita in their gemspec file. These plugins will need to have their version requirement changed to use "&lt;=" instead of "~&gt;" to be installable with Lita 3.0.

      %p There are three changes which are not backwards-compatible, which plugin authors should be aware of:

      %ul
        %li The previously deprecated method signatures for <code>Lita::Response.new</code> and <code>Lita::Source.new</code> have been removed. Code in the wild has mostly already updated, so this should not have any effect.
        %li <code>Lita.config</code> is now deeply frozen before the robot is started. This was done to improve thread safety when using globally accessible data. Any plugin code that is mutating <code>Lita.config</code> outside of the <code>default_config</code> Handler class method will need to be updated. The major adapter plugins have already been updated to support this change.
        %li <code>Lita::RSpec</code> now requires RSpec version 3.

      %p The following new features are available:

      %ul
        %li The HTTP router now supports Sinatra-style path variables, globbing, and regular expression constraints.
        %li Lita is now internationalized and plugins can easily add support for new locales.
        %li <code>Lita::Robot</code> and <code>Lita::Adapter</code> have new <code>#join</code> and <code>#part</code> methods for managing channel presence at runtime.
        %li Timers allow code to execute after a delay or repeatedly at intervals.
        %li New, more convenient methods for looking up users by partial name, mention name, or a fuzzy find that will accept any type of user identifier.

      %p Additional changes include:

      %ul
        %li Improved RSpec support, with better output for chat/HTTP/event routing tests when using the documentation formatter or when examples fail.
        %li Improved documentation.
