[Unit]
Description=Deploys lita.io every night at midnight
Documentation=https://github.com/litaio/lita.io
Requires=docker.service
After=docker.service

[Timer]
OnCalendar=daily

[Install]
WantedBy=multi-user.target
