[Unit]
Description=Builds and deploys lita.io
Documentation=https://github.com/litaio/lita.io
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Type=OneShot
RemainAfterExit=yes
EnvironmentFile=/etc/deploy-litaio/aws_credentials.sh
ExecStartPre=-/usr/bin/docker kill deploy-litaio
ExecStartPre=-/usr/bin/docker rm deploy-litaio
ExecStart=/usr/bin/docker run --name deploy-litaio -e AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID" -e AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY" -v /var/deploy-litaio/bundle:/var/bundle -v /var/deploy-litaio/app:/app deploy-litaio
ExecStop=/usr/bin/docker stop deploy-litaio
